@import url('http://fonts.googleapis.com/css?family=Oswald:700');

/* @primary: #563d7c */

.navbar {
  margin-top: 30px;
  margin-bottom: 20px;
  background-color: #563d7c; /* @primary */
  border: 1px solid #ccc;
}

.navbar .nav-item {
  color: #cbbde2;
}

.subtext {
  font-size: 16px;
  font-weight: bold;
  /* margin: 10px 0 0 45px; */
}

.logo {
  width: 100%;
  margin: 40px 0 0 0;
  font-family: 'Oswald', sans-serif;
}

header form {
  float: right;
  padding: 15px;
  margin-top: 30px;
  color: #fff;
  background-color: #563d7c; /* @primary */
  border-radius: 5px;
}

#products img.thumbnail {
  width: 130px;
  height: 130px;
}

#products img.star {
  width: 14px;
  height: 14px;
}