@import url('http://fonts.googleapis.com/css?family=Oswald:700');

/* @primary: #563d7c */

body {
  margin: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
}

.h4, h4 {
  font-size: 18px;
}

.navbar {
  margin-top: 30px;
  margin-bottom: 20px;
  background-color: #563d7c; /* @primary */
  border: 1px solid #ccc;
}

.navbar .nav-item {
  color: #cbbde2;
}

.subtext {
  font-size: 16px;
  font-weight: bold;
  /* margin: 10px 0 0 45px; */
}

.logo {
  width: 100%;
  margin: 40px 0 0 0;
  font-family: 'Oswald', sans-serif;
}

header form {
  float: right;
  padding: 15px;
  margin-top: 30px;
  color: #fff;
  background-color: #563d7c; /* @primary */
  border-radius: 5px;
}

.thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  /* font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; */
  /* font-size: 14px; */
}

.thumbnail img.product-image {
  width: 130px;
  height: 130px;
  margin-right: auto;
  margin-left: auto;
}

.thumbnail .caption {
  padding: 9px;
}

.thumbnail img.star {
  width: 14px;
  height: 14px;
}