@import url('http://fonts.googleapis.com/css?family=Oswald:700');

/* @primary: #563d7c */

.navbar {
  margin-top: 30px;
  margin-bottom: 20px;
  background-color: #563d7c; /* @primary */
  border: 1px solid #ccc;
  border-radius: 5px;
}

.navbar .nav-item {
  color: #cbbde2;
}

.subtext {
  font-size: 16px;
  font-weight: bold;
  /* margin: 10px 0 0 45px; */
}

.logo {
  width: 100%;
  margin: 40px 0 0 0;
  font-family: 'Oswald', sans-serif;
}

header form {
  float: right;
  padding: 15px;
  margin-top: 30px;
  color: #fff;
  background-color: #563d7c; /* @primary */
  border-radius: 5px;
}

.thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.thumbnail img.product-image {
  width: 130px;
  height: 130px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.thumbnail .caption {
  padding: 9px;
}

.thumbnail img.star {
  width: 14px;
  height: 14px;
}

#jumbotron {
  overflow: auto;
  padding: 0;
}

#jumbotron .nav-tabs {
	float:left;
	padding:0;
	margin:0;
  width:30%;
}

#jumbotron .nav-tabs .nav-item{
	background-color:#ccc;
	color:#666;
	margin-bottom:5px;
	padding: 0;
	width:100%;
}

#jumbotron .nav-tabs .nav-link{
	color:#666;
	border: 0;
	border-radius: 0;
	padding: 15px 10px 15px 20px;
}

#jumbotron .nav-tabs .nav-link.active {
	background: #563d7c; /* @primary */
	color: #fff;
}

.tab-content {
	float:right;
	width:70%;
	background-color: #563d7c; /* @primary */
	color:#fff;
	overflow:hidden;
	height:275px;
	padding-top:20px;
}

.slide-img{
	float:right;
	width:50%;
}

.tab-text{
	float:left;
	width:40%;
	margin-left:40px;
}

@media(max-width:960px){
	header form{
		width:100% !important;
	}
}

@media(max-width:768px){
	.slide-img{
		display:none;
	}
	.tab-text{
		float:none;
		width:80%;
	}

	.navbar a{
	color:#fff !important;
	}

	.navbar a:hover{
		color:#ccc !important;
	}

	.navbar form{
		display:none;
	}
}

@media(max-width:600px){
	.tab-content{
	  height:350px;
	}

}